Repository dod-iac/orb-ecr-image-scan-findings: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci-validate, orb.yml

circleci-validate:
  name: circleci validate
  entry: circleci config validate
  language: system

orb.yml:
  name: circleci-orb-validate
  entry: circleci orb validate orb.yml
  language: system
  pass_filenames: false

Fix circleci config
  .circleci/config.yml
Due: circleci-validate

Add markdown lint rules
  .markdownlintrc
Due: none

Add a makefile for publishing and validating
  Makefile
  README.md
Due: none

Separate setup steps from scan step
  orb.yml
Due: orb.yml

Add a target for viewing source
  Makefile
Due: none

Use env vars to pass through
  orb.yml
Due: orb.yml

specify env vars
  orb.yml
Due: orb.yml

Add dollar signs
  orb.yml
Due: orb.yml

Update example
  orb.yml
Due: orb.yml

Update the readme to talk about the params
  README.md
Due: none

Fix the orb name to drop orb- prefix
  Makefile
  README.md
  orb.yml
Due: orb.yml

Add a name to the step
  orb.yml
Due: orb.yml

Add examples
  README.md
Due: none

Path conditions:
  circleci-validate: any of: .circleci/config.yml
  orb.yml: any of: orb\.yml
